In [1]:
import os
import re
import pandas as pd
import numpy as np
import utils

### Recommended
* imdb.title.basics
* imdb.title.ratings
* bom.movie_gross

In [2]:
recs = {'imdb.title.basics.csv.gz',
        'imdb.title.ratings.csv.gz',
        'bom.movie_gross.csv.gz'}

In [3]:
# for entry in os.scandir('zippedData'):
#     ext = entry.name.split('.')[-2]
#     display(entry.name)
#     sep = ',' if ext == 'csv' else '\t'
#     try:
#         df = pd.read_csv(entry.path, sep=sep, encoding='utf-8')
#     except UnicodeDecodeError:
#         df = pd.read_csv(entry.path, sep=sep, encoding='latin1')
#     display(df.head())
#     display(df.shape)

In [10]:
df = pd.read_csv(os.path.join('zippedData', 'imdb.title.basics.csv.gz'), index_col=0)
df

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [11]:
df['genres'] = df['genres'].str.split(',')
df

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action, Crime, Drama]"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography, Drama]"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama]
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"[Comedy, Drama]"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy, Drama, Fantasy]"
...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,[Drama]
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,[Documentary]
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,[Comedy]
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,[Documentary]

In [12]:
df = utils.explode_wide(df, 'genres')
df

,primary_title,original_title,start_year,runtime_minutes,genres_1,genres_2,genres_3
tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,Crime,Drama
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,Drama,NaN
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,NaN,NaN
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,Comedy,Drama,NaN
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,Comedy,Drama,Fantasy
...,...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [14]:
utils.print_categorical_uniques(df, cut=50)

genres_1
--------
['Action' 'Biography' 'Drama' 'Comedy' 'Horror' 'Adventure' 'Documentary'
 'History' 'Animation' nan 'Crime' 'Sci-Fi' 'Thriller' 'Fantasy' 'Mystery'
 'Musical' 'Family' 'Western' 'Romance' 'Sport' 'Adult' 'Music' 'News'
 'Talk-Show' 'Reality-TV' 'War' 'Game-Show' 'Short']


genres_2
--------
['Crime' 'Drama' nan 'Thriller' 'Animation' 'History' 'Mystery' 'Comedy'
 'Adventure' 'Romance' 'Horror' 'Family' 'Sci-Fi' 'Fantasy' 'Sport'
 'Documentary' 'Music' 'War' 'Biography' 'Musical' 'Action' 'Western'
 'News' 'Reality-TV' 'Talk-Show' 'Game-Show' 'Adult' 'Short']


genres_3
--------
['Drama' nan 'Fantasy' 'Comedy' 'History' 'Sci-Fi' 'Thriller' 'Romance'
 'War' 'Crime' 'Family' 'Music' 'Horror' 'Animation' 'Sport' 'Western'
 'Mystery' 'Documentary' 'Adventure' 'Musical' 'Biography' 'News'
 'Reality-TV' 'Short']